[submodule "Bukkit"]
	path = Bukkit
	url = https://github.com/Bukkit/Bukkit.git
[submodule "CraftBukkit"]
	path = CraftBukkit
	url = https://github.com/zachbr/CraftBukkit.git
[submodule "Paperclip"]
	path = Paperclip
	url = https://github.com/PaperMC/Paperclip.git
